<br><br><br>
<br>
<div class="container-fluid">
  <div fxLayout="row" fxLayoutWrap>
    <!-- Card -->
    <mdb-card *ngFor="let post of posts">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="{{post.files[0]}}"
                      alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>{{post.location}}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> {{post.description}}
        </mdb-card-text>

        <a href="#" mdbBtn color="brown" mdbWavesEffect>Button</a>
      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
  </div>
</div>
