#whoButton{
    background-color: white;
    width: 100%;
    color: black;
    margin: 0;
    height: 40px;
}

.red{
    color: red;
}

.invalidBorder.ng-invalid {
  border-color: red;
}

.ng-invalid.ng-touched {
  border-color: red;
}
.description p {
  position: fixed;
    left: 50%;
    right: 9%;
    font-weight: 200;
    color: white; //plart i only the best
    top: 13%;
    letter-spacing: 7px;
    text-align: center;
}

