<div class="view w-100"
     style="background-image: url(../../assets/img/photo_2020-03-01_16-42-48.jpg); background-repeat: no-repeat;background-size: 100%"
     ng-app="">
  <div class="description">
    <p><strong>The site “Plart” is developed mainly in the field of photography (photo shoots),
      which will include both professional photographers and novice photographers and, of course,
      site visitors (readers). It serves as a platform where photographers can publish their work,
      projects, photo collections, collaborate with readers, receive constructive evaluation and be
      inspired by the ideas of others. Readers, in turn, have the opportunity to communicate,
      collaborate with photographers, get inspired and evaluate their work.
      This is a platform with unlimited inspiration for you personally. So why not use it?
    </strong>
    </p>
  </div>
  <br>
  <div style="margin-left: 6%; margin-top: -1.4%" class="d-flex justify-content-left align-items-center">
    <form form="registerForm" style="border-radius: 25px; border:3px solid #ac7339;
   color: #ac7339; padding: 20px; font-family:verdana; margin: 1.5%"
          (ngSubmit)="onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>

      <p class="h3 mb-4 text-center">Welcome to
        <br>
        <kbd style="background-color: #5B320A">Plart</kbd></p>
      <div class="form-group">
        <label for="firstName">First name</label>
        <pre style="color: red; display: inline"> *</pre>
        <input type="text" name="firstName" [(ngModel)]="registerForm.firstName" class="form-control mb-2 "
               #firstName="ngModel" required minlength="3" style="color: black">
        <div style="color: red" *ngIf="firstName.invalid && firstName.touched">
          <div *ngIf="firstName.errors.required" class="invalidBorder">First name is required</div>
          <div *ngIf="firstName.errors.minlength">First name must be at least 3 characters</div>

        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <pre style="color: red; display: inline"> *</pre>
        <input type="text" style="color: black" name="lastName" [(ngModel)]="registerForm.lastName"
               class="form-control mb-2" #lastName="ngModel" required minlength="3">
        <div style="color: red" *ngIf="lastName.invalid && lastName.touched">
          <div *ngIf="lastName.errors.required">Last name is required</div>
          <div *ngIf="lastName.errors.minlength">Last name must be at least 3 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <pre style="color: red; display: inline"> *</pre>
        <input type="email" style="color: black; width: 330px;" name="email" [(ngModel)]="registerForm.email"
               class="form-control mb-2" #email="ngModel" (ngModelChange)="emailChange()"
               [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
               required email/>
        <p style="color: red" *ngIf="emailExist">User with this email already exists</p>
        <div style="color: red" *ngIf="email.invalid && email.touched">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Your email is not valid</div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" style="color: black" name="numberPhone" [(ngModel)]="registerForm.phone"
               class="form-control mb-2" #numberPhone="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && numberPhone.invalid }" required
               pattern="^[(]{0,1}[0-9]{0,3}[)]{0,1}[-\s\.0-9]{0,11}$"/>
        <!--<div style="color: red" *ngIf="numberPhone.invalid && numberPhone.touched">-->
        <!-- <div *ngIf="numberPhone.errors.required">Phone Number is required</div>
        <div *ngIf="numberPhone.errors.minlength">Phone Number must containts 10 symbols</div>
        <div *ngIf="numberPhone.errors.pattern">Phone Number must be 063 123 45 67</div> -->
        <!--</div>-->
      </div>

      <div class="form-group">
        <label for="password" style="display: inline-block">Password </label>
        <pre style="color: red; display: inline"> *</pre>
        <input type="password" style="color: black" name="password" [(ngModel)]="registerForm.password"
               class="form-control mb-2" #password="ngModel" required minlength="8"/>
        <div style="color: red" *ngIf="password.invalid && password.touched">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 8 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <pre style="color: red; display: inline"> *</pre>
        <input type="password" style="color: black" name="confirmPassword" [(ngModel)]="registerForm.confirmPassword"
               class="form-control mb-2" #confirmPassword="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required/>
        <div style="color: red" *ngIf="confirmPassword.invalid && confirmPassword.touched">
          <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>

      <div>
        <button *ngIf="!emailExist" mdbBtn style="background-color: #ac7339; width: 153px" class="my-4" type="submit">Sign up</button>
        <a href="/ui/auth/login" mdbBtn style="background-color: #5B320A; color: white; width: 153px" type="button">Cancel</a>
      </div>
      <div>
        <pre style="color: red; display: inline">* <pre style="display: inline; color: #ac7339">is a necessary input</pre></pre>
      </div>
    </form>
  </div>
</div>
