<br><br><br>
<br>
<div class="container-fluid">

  <form class="text-center border border-light p-5">
    <input type="text" name="description" [(ngModel)]="createPostForm.description" class="form-control mb-1"
           placeholder="description">
    <input type="text" name="location" [(ngModel)]="createPostForm.location" class="form-control mb-1"
           placeholder="location">
    <input type="text" name="types" [(ngModel)]="createPostForm.types" class="form-control mb-1" placeholder="type">
    <button (click)="addType()" style="background-color: #795548; border-radius:5px" class="my-4">add type</button>
    <button (click)="createPost()" style="background-color: #795548; border-radius:5px;"
            block="true" class="my-4" type="submit">Create</button>

  </form>

  <input type="file" (change)="upload($event.target.files)"/>
  Upload Percent: {{percentDone}}% <br/>

  <ng-container *ngIf="uploadSuccess">
    Upload Successful
  </ng-container>

  <div fxLayout="row" fxLayoutWrap>
  <!-- Card -->
  <mdb-card *ngFor="let post of posts">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="{{post.files[0]}}"
                    alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>


    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>{{post.location}}</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> {{post.description}}
      </mdb-card-text>

      <a href="#" mdbBtn color="brown" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  </div>
</div>
