<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" style="width: 100%; height: 820px;"  src="../../assets/img/carousel1.jpg" alt="First slide">
      <div class="carousel-content">
        <h1>Plart</h1>
          <p>Only the best</p>
          <a href="/ui/auth/login" mdbBtn style="color: white" type="button">signin</a>
          <a href="/ui/signup" mdbBtn style="color: white" type="button">signup</a>


        </div>
      <div class="mask rgba-black-slight waves-light"></div>
    </div>
    <div class="carousel-caption">
    
    </div>
  </mdb-carousel-item>
</mdb-carousel>
